nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li {
  list-style: none;
  list-style-type: none;
}
nav ul li a:hover {
  color: rgba(139, 0, 76, 0.822) !important;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}
nav ul li a {
  text-shadow: 0.1em 0.1em 0.2em black;
}

.nav-link {
  margin: 3%;
  color: white !important;
  font-family: "Archivo Black", sans-serif;
  font-family: "Atomic Age", cursive;
  font-family: "Bebas Neue", cursive;
  font-family: "Codystar", cursive;
  font-family: "Concert One", cursive;
  font-family: "Courgette", cursive;
  font-family: "Lobster", cursive;
  font-family: "Major Mono Display", monospace;
  font-family: "Noto Sans Avestan", sans-serif;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Zen Dots", cursive;
}

table {
  color: white;
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  color: rgba(139, 0, 76, 0.822);
  text-shadow: 0.1em 0.1em 0.2em black;
}

ul {
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.instagram {
  background-color: black;
}

.facebook {
  background-color: black;
}

.whatsapp {
  background-color: black;
}

.card-title {
  color: white;
}

.btn {
  color: rgba(139, 0, 76, 0.822);
  background-color: black;
  border-color: rgba(139, 0, 76, 0.822);
}

h3 {
  color: rgba(139, 0, 76, 0.822) !important;
  display: flex;
  justify-content: center;
  text-shadow: 0.1em 0.1em 0.2em black;
}

p {
  font-family: "Bebas Neue", cursive;
  color: white;
  display: flex;
  justify-content: center;
  text-shadow: 0.1em 0.1em 0.2em black;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-family: "Atomic Age", cursive;
  font-family: "Bebas Neue", cursive;
  font-family: "Codystar", cursive;
  font-family: "Concert One", cursive;
  font-family: "Courgette", cursive;
  font-family: "Lobster", cursive;
  font-family: "Major Mono Display", monospace;
  font-family: "Noto Sans Avestan", sans-serif;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Zen Dots", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(139, 0, 76, 0.822);
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 60px;
}

.card-text {
  color: white;
}

.mb-8 {
  background-color: rgba(255, 255, 255, 0.493);
}

h5 {
  text-shadow: 0.1em 0.1em 0.2em black;
}

.ft {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "nuf alf" "nu al";
}

.nuezt {
  grid-area: nu;
}

.nuezf {
  grid-area: nuf;
}

.almendrat {
  grid-area: al;
}

.almendraf {
  grid-area: alf;
}

@media screen and (max-width: 480px) {
  .ft {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "nuf" "nu" "alf" "al";
  }
}
.col {
  display: grid;
  justify-items: center;
  width: 600px;
  height: 400px;
}

section {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

body {
  background-image: url(../imagenes/meghan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  font-family: "Archivo Black", sans-serif;
  font-family: "Atomic Age", cursive;
  font-family: "Bebas Neue", cursive;
  font-family: "Codystar", cursive;
  font-family: "Concert One", cursive;
  font-family: "Courgette", cursive;
  font-family: "Lobster", cursive;
  font-family: "Major Mono Display", monospace;
  font-family: "Noto Sans Avestan", sans-serif;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Zen Dots", cursive;
}

/*# sourceMappingURL=styles.css.map */
