table {
    color: $color2;
    display: flex;
    
  }

  h2 {
    display: flex;
    justify-content: center;
    color: $color1; 
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  
  ul{
    color: $color2;
    text-shadow: 0.1em 0.1em 0.2em black;
  }

  
.lista-objetivos{
  text-shadow: $sombra;
}