.instagram {
    background-color: black;
  }
  .facebook {
    background-color: black;
  }
  .whatsapp {
    background-color: black;
  }
  
  .card-title{
    color: white;
  }
 .btn{
  color: rgba(139, 0, 76, 0.822) ;
  background-color: black;
  border-color: rgba(139, 0, 76, 0.822) ;
 }

