
  

  @media screen and (max-width: 480px) {
    .carta-productos {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        'nuf'
        'nu'
        'alf'
        'al';
        
    }
  }  


.carta-productos{
  width: 200px;
  height: 100px;
}
.card{
  background-color: rgba(255, 255, 255, 0.493);
}

