nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li {
  list-style: none;
  list-style-type: none;
}
nav ul li a:hover {
  color: rgba(139, 0, 76, 0.822) !important;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}
nav ul li a {
  text-shadow: 0.1em 0.1em 0.2em black;
}

.nav-link {
  margin: 3%;
  color: white !important;
  font-family: "Archivo Black", sans-serif;
  font-family: "Atomic Age", cursive;
  font-family: "Bebas Neue", cursive;
  font-family: "Codystar", cursive;
  font-family: "Concert One", cursive;
  font-family: "Courgette", cursive;
  font-family: "Lobster", cursive;
  font-family: "Major Mono Display", monospace;
  font-family: "Noto Sans Avestan", sans-serif;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Zen Dots", cursive;
}

table {
  color: white;
  display: flex;
}

h2 {
  display: flex;
  justify-content: center;
  color: rgba(139, 0, 76, 0.822);
  text-shadow: 0.1em 0.1em 0.2em black;
}

ul {
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.lista-objetivos {
  text-shadow: 0.1em 0.1em 0.2em black;
}

.card-title {
  color: white;
}

.btn {
  color: rgba(139, 0, 76, 0.822);
  background-color: black;
  border-color: rgba(139, 0, 76, 0.822);
}

.redes-fotos {
  border-radius: 20%;
}

.card {
  padding-bottom: 0px;
  border-radius: 4%;
}

h3 {
  color: rgba(139, 0, 76, 0.822) !important;
  display: flex;
  justify-content: center;
  text-shadow: 0.1em 0.1em 0.2em black;
}

p {
  font-family: "Bebas Neue", cursive;
  color: white;
  display: flex;
  justify-content: center;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 30px;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-family: "Atomic Age", cursive;
  font-family: "Bebas Neue", cursive;
  font-family: "Codystar", cursive;
  font-family: "Concert One", cursive;
  font-family: "Courgette", cursive;
  font-family: "Lobster", cursive;
  font-family: "Major Mono Display", monospace;
  font-family: "Noto Sans Avestan", sans-serif;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Zen Dots", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(139, 0, 76, 0.822);
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 60px;
  margin: 20px;
}

.descripcion {
  margin: 20px;
}

.card-text {
  color: white;
}

h5 {
  text-shadow: 0.1em 0.1em 0.2em black;
}

@media screen and (max-width: 480px) {
  .carta-productos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "nuf" "nu" "alf" "al";
  }
}
.carta-productos {
  width: 200px;
  height: 200px;
}

.card {
  background-color: rgba(255, 255, 255, 0.493);
}

section {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

body {
  background-image: url(../imagenes/meghan.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Archivo Black", sans-serif;
  font-family: "Atomic Age", cursive;
  font-family: "Bebas Neue", cursive;
  font-family: "Codystar", cursive;
  font-family: "Concert One", cursive;
  font-family: "Courgette", cursive;
  font-family: "Lobster", cursive;
  font-family: "Major Mono Display", monospace;
  font-family: "Noto Sans Avestan", sans-serif;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Zen Dots", cursive;
}/*# sourceMappingURL=styles.css.map */